nav {
  z-index: 10;
  position: fixed;
  width: 100%;
  height: 60px;
  margin-top: -80px;
  background-color: #FFF;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3); }
  nav .search {
    position: relative;
    margin-top: 13px; }
    nav .search .search__input {
      padding: 5px 15px;
      background-color: #EDEEF2;
      border: none;
      border-radius: 20px;
      outline: 0; }
    nav .search .search__icon {
      position: absolute;
      top: 8.5px;
      left: 170px;
      opacity: 0.7; }
    nav .search .btn-success {
      height: 34px;
      margin-left: 10px;
      margin-top: -3px;
      background-color: #3D9970;
      font-size: 14px;
      border-radius: 20px; }
    nav .search .btn-primary {
      height: 34px;
      margin-left: 8px;
      margin-top: -3px;
      background-color: #0074D9;
      font-size: 14px;
      border-radius: 20px; }
    nav .search .fa-home {
      font-size: 20px; }

body {
  font-family: 'Open Sans', sans-serif;
  color: #5D6063; }

#create-modal .modal-body {
  padding: 0; }

#create-modal form {
  position: relative; }

#create-modal input {
  margin-bottom: 50px;
  padding: 8px 8px;
  background: none;
  border: none;
  font-size: 18px;
  color: #1d1d1f;
  transition: all .15s ease-in-out;
  border-bottom: 2px solid #9A9DA8;
  outline: none; }

#create-modal input:focus ~ label, #create-modal input:valid ~ label {
  font-size: 12px;
  top: -15px; }

#create-modal input:focus ~ .input-span, #create-modal input:valid ~ .input-span {
  transform: scale(1); }

#create-modal .input-label {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  margin-top: 4px;
  margin-bottom: 4px;
  position: relative; }

#create-modal .input-label > label {
  font-size: 18px;
  position: absolute;
  color: #9A9DA8;
  top: 10px;
  left: 5px;
  align-items: flex-end;
  transition: 0.2s ease all; }

#create-modal .input-span {
  width: 100%;
  height: 2px;
  background: #0074D9;
  position: absolute;
  transform: scale(0, 1);
  transition: 0.2s linear all;
  top: 43px; }

#create-modal .card-header {
  width: 100%;
  color: #0074D9;
  font-size: 36px;
  display: flex;
  align-items: center;
  justify-content: center; }

#create-modal .card-content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 64px;
  padding-bottom: 12px; }

#create-modal #submit-btn {
  border: none;
  background: #0074D9;
  width: 30%;
  color: white;
  padding: 12px;
  transition: all .15s ease-in-out;
  cursor: pointer;
  margin-bottom: 50px; }

#create-modal #submit-btn:hover {
  box-shadow: rgba(23, 43, 99, 0.4) 0 14px 64px;
  transform: scale(1.03); }

#create-modal #submit-btn:focus {
  outline: none; }

#create-modal .divider {
  width: 94%;
  height: 2px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  margin-top: 12px;
  margin-bottom: 12px; }

#create-modal a {
  text-decoration: none;
  font-size: 14px;
  color: #9A9DA8;
  transition: all .15s ease-in-out;
  margin-top: 4px;
  margin-bottom: 4px; }

#create-modal .sign-up {
  margin-bottom: 6px; }

#create-modal a:hover {
  color: #1d1d1f; }

#create-modal .message {
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 10px 0;
  font-weight: 700; }

section#users-section {
  margin-top: 80px; }
  section#users-section .add-user .add-user__img {
    width: 200px; }
  section#users-section .user {
    width: 250px;
    padding: 25px 0;
    margin-bottom: 40px;
    text-align: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
    section#users-section .user .user__img {
      width: 150px;
      margin-bottom: 20px;
      opacity: 0.8; }
    section#users-section .user .user__name {
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase; }
    section#users-section .user .user__email {
      margin-bottom: 15px;
      font-size: 14px;
      text-transform: uppercase; }
    section#users-section .user .btn-danger {
      background-color: #ED4C67; }

section#edit-users {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  section#edit-users form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: white;
    box-shadow: rgba(23, 43, 99, 0.3) 0 14px 64px;
    width: 500px;
    position: relative; }
    @media (max-width: 600px) {
      section#edit-users form {
        width: 375px; } }
  section#edit-users input {
    margin-bottom: 50px;
    padding: 8px 8px;
    background: none;
    border: none;
    font-size: 18px;
    color: #1d1d1f;
    transition: all .15s ease-in-out;
    border-bottom: 2px solid #9A9DA8;
    outline: none; }
  section#edit-users input:focus ~ label, section#edit-users input:valid ~ label {
    font-size: 12px;
    top: -15px; }
  section#edit-users input:focus ~ .input-span, section#edit-users input:valid ~ .input-span {
    transform: scale(1); }
  section#edit-users .input-label {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin-top: 4px;
    margin-bottom: 4px;
    position: relative; }
  section#edit-users .input-label > label {
    font-size: 18px;
    position: absolute;
    color: #9A9DA8;
    top: 10px;
    left: 5px;
    align-items: flex-end;
    transition: 0.2s ease all; }
  section#edit-users .input-span {
    width: 100%;
    height: 2px;
    background: #0074D9;
    position: absolute;
    transform: scale(0, 1);
    transition: 0.2s linear all;
    top: 43px; }
  section#edit-users .card-header {
    width: 100%;
    color: #0074D9;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center; }
  section#edit-users .card-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
    padding-bottom: 12px; }
  section#edit-users #submit-btn {
    border: none;
    background: #0074D9;
    width: 30%;
    color: white;
    padding: 12px;
    transition: all .15s ease-in-out;
    cursor: pointer;
    margin-bottom: 50px; }
  section#edit-users #submit-btn:hover {
    box-shadow: rgba(23, 43, 99, 0.4) 0 14px 64px;
    transform: scale(1.03); }
  section#edit-users #submit-btn:focus {
    outline: none; }
  section#edit-users .divider {
    width: 94%;
    height: 2px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    margin-top: 12px;
    margin-bottom: 12px; }
  section#edit-users a {
    text-decoration: none;
    font-size: 14px;
    color: #9A9DA8;
    transition: all .15s ease-in-out;
    margin-top: 4px;
    margin-bottom: 4px; }
  section#edit-users .sign-up {
    margin-bottom: 6px; }
  section#edit-users a:hover {
    color: #1d1d1f; }
  section#edit-users .home-link {
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 10px 0;
    font-weight: 700; }
